{% extends 'warehouses/layout.html' %}

{% block title %}Warehouse List{% endblock %}

{% block content %}
<div class="container">
    <h1>Warehouse List</h1>
    <a href="{% url 'warehouses:warehouse_create' %}" class="btn btn-primary mb-3">Create New Warehouse</a>
    <ul class="list-group">
        {% for warehouse in warehouses %}
            <li class="list-group-item">
                {{ warehouse.name }} - {{ warehouse.location }} 
                <a href="{% url 'warehouses:warehouse_update' warehouse.pk %}" class="btn btn-sm btn-warning">Edit</a> | 
                <a href="{% url 'warehouses:warehouse_delete' warehouse.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
